<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CarritoPortBinding" />
        <binding name="PedidoPortBinding" />
        <binding name="PagoPortBinding" />
        <binding name="RolPortBinding" />
        <binding name="ItemCarritoPortBinding" />
        <binding name="PersonaPortBinding" />
        <binding name="NaturalPortBinding" />
        <binding name="PrecioPresentacionPortBinding" />
        <binding name="ProductosPortBinding" />
        <binding name="UsuarioPortBinding" />
        <binding name="DireccionPortBinding" />
        <binding name="ComprobantePortBinding" />
        <binding name="JuridicaPortBinding" />
        <binding name="EnvioPortBinding" />
        <binding name="PedidoItemPortBinding" />
        <binding name="AdministradorPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SoftProgWS/Carrito"
        binding="basicHttpBinding" bindingConfiguration="CarritoPortBinding"
        contract="ServiciosWSClient.Carrito" name="CarritoPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Pedido" binding="basicHttpBinding"
        bindingConfiguration="PedidoPortBinding" contract="ServiciosWSClient.Pedido"
        name="PedidoPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Pago" binding="basicHttpBinding"
        bindingConfiguration="PagoPortBinding" contract="ServiciosWSClient.Pago"
        name="PagoPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Rol" binding="basicHttpBinding"
        bindingConfiguration="RolPortBinding" contract="ServiciosWSClient.Rol"
        name="RolPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/ItemCarrito"
        binding="basicHttpBinding" bindingConfiguration="ItemCarritoPortBinding"
        contract="ServiciosWSClient.ItemCarrito" name="ItemCarritoPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Persona"
        binding="basicHttpBinding" bindingConfiguration="PersonaPortBinding"
        contract="ServiciosWSClient.Persona" name="PersonaPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Natural"
        binding="basicHttpBinding" bindingConfiguration="NaturalPortBinding"
        contract="ServiciosWSClient.Natural" name="NaturalPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/PrecioPresentacion"
        binding="basicHttpBinding" bindingConfiguration="PrecioPresentacionPortBinding"
        contract="ServiciosWSClient.PrecioPresentacion" name="PrecioPresentacionPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Productos"
        binding="basicHttpBinding" bindingConfiguration="ProductosPortBinding"
        contract="ServiciosWSClient.Productos" name="ProductosPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Usuario"
        binding="basicHttpBinding" bindingConfiguration="UsuarioPortBinding"
        contract="ServiciosWSClient.Usuario" name="UsuarioPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Direccion"
        binding="basicHttpBinding" bindingConfiguration="DireccionPortBinding"
        contract="ServiciosWSClient.Direccion" name="DireccionPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Comprobante"
        binding="basicHttpBinding" bindingConfiguration="ComprobantePortBinding"
        contract="ServiciosWSClient.Comprobante" name="ComprobantePort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Juridica"
        binding="basicHttpBinding" bindingConfiguration="JuridicaPortBinding"
        contract="ServiciosWSClient.Juridica" name="JuridicaPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Envio" binding="basicHttpBinding"
        bindingConfiguration="EnvioPortBinding" contract="ServiciosWSClient.Envio"
        name="EnvioPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/PedidoItem"
        binding="basicHttpBinding" bindingConfiguration="PedidoItemPortBinding"
        contract="ServiciosWSClient.PedidoItem" name="PedidoItemPort" />
      <endpoint address="http://localhost:8080/SoftProgWS/Administrador"
        binding="basicHttpBinding" bindingConfiguration="AdministradorPortBinding"
        contract="ServiciosWSClient.Administrador" name="AdministradorPort" />
    </client>
  </system.serviceModel>
</configuration>